{% load i18n %}
<div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-clock-o"></i>
    </div>
    <input type="{{ widget.type }}" name="{{ widget.name }}" class="form-control pull-right"
           placeholder={% trans "Click to select time Time" %} autocomplete="off"
           {% if widget.value != None %}
               value="{{ widget.value|stringformat:'s' }}"
           {% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
</div>
{% if not widget.attrs.ignore_js %}
    <script>
        $(function () {
            $('#{{ widget.attrs.id }}').wickedpicker({
                title: 'HH:MM',
                timeSeparator: ':',
                twentyFour: true,
                clearable: true
            });

            $('#{{ widget.attrs.id }}').val('');
        })
    </script>
{% endif %}
