{% extends "switchblade_dashboard/base.html" %}
{% load dashboard_tag %}
{% load static %}


{% block content_main %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet"/>

AAAAAAAAAAAAAAAAAAAAAAAAAAA
 <!--Modal -->
    <div class="box">
        <div class="box">
                <!-- Modal content-->
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Veiculos Próximos</h4>
                </div>
                <div class="box-body">


                    <form>
                        <label>Número de veiculos</label>
                        <input type="hidden" id="id_demanda" name="id_demanda" value="#">
                            <table id="table-vinculo" class="table table-bordered table-hover">
                            <tbody>
                            </tbody>
                            {% csrf_token %}
                        </table>
                        <input type="submit" id="id-botao" value="Buscar"/>
                    </form>

                     <script>
                    $('#cat').on('click', function(event) {
                         event.preventDefault();
                         autoFillAtividadeByCertificado();
                     });
                    </script>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>



{% endblock content_main %}

{% block title %}
    {{ form_data.PageTitle }}
{% endblock %}

{% block content_title %}
    {{ form_data.PageTitle }}
{% endblock %}

{% block extraJS %}
    <script src="{% static 'registros/js/form.js' %}"></script>

     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
       <script src="{% static 'js/app.js' %}"></script>
{% endblock extraJS %}