.celery {
    overflow: hidden;
    color: #444;
    background: transparent;
    border: none;
    box-shadow: none;
}

.celery__icon {
    font-size: 182vh;
    position: absolute;
    top: -198px;
    left: -33%;
    z-index: 0;
    color: #5B5B5B24;
}

.celery__icon.success {
    font-size: 115vh;
    position: absolute;
    top: -105px;
    left: -15%;
    z-index: 0;
    color: #149E5F24;
}

.celery__icon.error {
    font-size: 100vh;
    position: absolute;
    top: -82px;
    left: -18%;
    z-index: 0;
    color: #E3524124;
}

.celery__icon.unknown {
    font-size: 65vh;
    position: absolute;
    top: 179px;
    left: -11%;
    z-index: 0;
    color: #E4AB4624;
}

.celery__icon.revoke {
    font-size: 100vh;
    position: absolute;
    top: -82px;
    left: -18%;
    z-index: 0;
    color: #B6B9BD24;
}

.celery__message {
    margin-top: 1vh;
    font-size: 3.5vh;
}

.celery__button {
    margin-top: 10px;
    display: none;
}

.celery__button i {
    margin-right: 3px;
}

.fa-spin {
    animation: fa-spin 5s infinite linear !important;
}

#celery-task {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #999;
}